<!DOCTYPE html>
<html class="h-100 mdl-js" lang="ru">
  <head>
    <title>RailsDev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ="d-flex flex-column h-100">

    <%= render partial: "shared/header" %>

      <div class="container">
        <% if notice %>
          <p class="notice my-1"><%= notice %></p>
        <% elsif alert %>
          <p class="alert my-1"><%= alert %></p>
        <% end %>
      </div>

      <%= yield %>

    <%= render partial: "shared/footer" %>

  </body>
</html>
